td {
    border: 1px solid black;
}
.btn{
    color: white;
    background-color: red;
    height: 50px;
    width: 100px;
   border-radius: 15px;
   font-size: 1.2em;
}
/* .box {
    height: 100px;
    width: 100px;
    text-align: center;
    border: 1px solid black;
    display: inline-block;
} */
#getEle {
    background-color: red;
}
.highlight {
    background-color: yellow;
}
#pickme .output {
    background-color: aqua;
}
input[name="last"]{
    background-color: red;
}
div .output {
    background-color: red;
}
#overlay {
    visibility: hidden;
    position: absolute;
    left: 0;
    right: 0;
    top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    height: 400px;
    background-color: #ddd;
    border: 1px solid black;
    z-index: 1000;
}

.box1 {
    background-color: aqua;
    font-size: 1.5em;
    color: #fff;
}
/* .box2 {
    background-color: red; 
    font-size: 0.5em;
    color: #ddd;
} */
#one, #two, #three{
   width: 100px;
   height: 100px;
   display: inline-block;
   border: 1px solid black;;
}
.active {
    background-color: yellow;
}
.con {
    border: 1px solid black;
    padding: 20px;
    font-size: 0.8em;
    display: none;
}
.acc {
    font-size: 1.5em;
    background-color: #ddd;
}
.active {
    display: block;
}
td {
    border: 1px solid #ddd;
    padding: 10px;
}
td:first-child {
    width: 300px;
}
.holder {
    display: inline-block;
    width: 300px;
    height:300px;
    border: 1px solid black;
    padding: 10px;
}
.active {
    background-color: red;
}
/* #output {
    width: 400px;
    height: 400px;
    display: block;
    border: 1px solid black;
} */
#cButton > div {
    width: 100px;
    display: inline-block;
    height: 50px;
    text-align: center;
    border: 1px solid black;
}
.box {
    width: 100px;
    height: 100px;
    display: block;
    border: 1px solid black;
    display: inline-block;
}
.gameboard {
    width: 600px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid #ddd;
}
.office {
    float: left;
    width: 120px;
    height: 170px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    margin: 10px 30px;
}
.desk {
    width: 100%;
    height: 50px;
    bottom: 0;
    position: absolute;
    background-color: burlywood;
    z-index: 2;
}
.computer {
    background: url('images/comp.jpg') bottom center no-repeat;
    position: absolute;
    background-size: 100% 100%;
    top: 100%;
    width: 100%;
    height: 80%;
    transition: all 0.5s;
}
.popup {
    top: 0;
}
.box {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    display: inline-block;
}
.btn {
    background-color: red;
    text-align: center;
    border-radius: 10px;
    font-size: 1em;
    padding: 15px;
    color: white;
}
.btn:hover {
    background-color: crimson;
}
.gameTile {
    display: inline-block;
   padding: 3px;
}
.flipImage {
    max-width: 150px;
    background-color: red;
    height: 150px;
}
#gamebaord {
   width: 1000px;
   height: 600px;
   background-color: red;
}
div.gameTile {
    max-width: 150px;
    background-color: red;
    height: 150px;
}
img {
    max-width: 150px;
    background-color: red;
    height: 150px;
}
#map {
    height: 100%;
}
.item {
    border: 1px solid black;
    padding: 2%;
    width: 29%;
    float: left;
    height: 300px;
}
.img-fluid {
    max-width: 100%;
}
.productItem, .btn {
    border: 1px solid black;
    text-decoration: none;
    background-color: green;
    color: azure;
    border-radius: 10px;
    padding: 5px;
    display: inline-block;
    font-size: 0.6rem;
}
.remove {
    background-color: red;
}
td {
    text-align: center;
    border: 1px solid #ddd;
    padding: 5px;
}
th {
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.3em;
}
#canvas1 {
    border: 1px solid black;
}
.btn {
    padding: 15px;
    border: 1px solid #ddd;
    text-align: center;
    font-size: 1.6em;
    display: inline-block;
    background-color: red;
    border-radius: 15px;
    color: white;
    margin: auto;
    cursor: pointer;
}
.container {
    width: 100%;
    height: 100%;
    text-align: center;
    margin: auto;
}
.score {
    font-size: 2em;
    padding: 5px;
    width: 40%;
    margin: auto;
}
.output img .gal img {
    max-width: 200px;
    display: block;
}
table {
    width: 100%;
}
td:first-child{
    width: 10%;
}
td:last-child {
    width: 10%;
}
td {
    border: 1px solid #ddd;
}